@media (max-width: 640px) {
    .section:first-of-type {
        min-height: 0;
    }

    section:first-of-type .hero-inner {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    section:first-of-type .hero-inner .split-item {
        /* padding: 0; */
    }

    section:nth-of-type(2) {
        margin-top: 2rem;
    }

    section:nth-of-type(2) .section-inner {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    section:nth-of-type(2) .section-inner .cta-slogan {
        margin-bottom: 1rem;
    }
}

.btn-call{
    width: 50%;
    /* margin-top: 60px; */
    font-size: 24px;
    font-weight: bold;
    background-color: #1e2c84;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    border: 2px solid #1e2c84;
    transition: 0.3s;
}
.btn-call:hover{
    background-color: white;
    border: 2px solid #1e2c84;
    color:#1e2c84;
    cursor: pointer;
}

main{
    background-image: url('../images/newcall.png');
}